@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(25, 25, 25);
}

/* Navbar */

.navbar {
  background-color: transparent !important;
}
.nav-item {
  font-family: "Poetsen One", sans-serif;
  font-size: 21px;
}

#texthome {
  color: whitesmoke;
  text-shadow: 3px 2px 1px #4f91c0;
}

#textproject {
  color: #4f91c0;
  text-shadow: 1px 1px 1px whitesmoke;
}
/* Akhir Navbar */

/* Jumbotron */
.jumbotron {
  font-family: "Poetsen One", sans-serif;
  background-color: transparent;
  margin-top: 120px;
  height: 500px;
  color: whitesmoke;
}

.jumbotron h1 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 10px;
}
.jumbotron h4 {
  font-size: 50px;
  letter-spacing: 2px;
}
.jumbotron h5 {
  font-size: 20px;
  letter-spacing: 5px;
  color: whitesmoke;
}
.jumbotron a {
  letter-spacing: 15px;
  text-decoration: none;
}
/* Akhir Jumbotron */

/* About */
#about {
  font-family: "Poetsen One", sans-serif;
  margin-top: 5%;
}

#about h4 {
  margin-top: 15px;
  color: whitesmoke;
  text-shadow: 3px 2px 1px #4f91c0;
  font-weight: bold;
  letter-spacing: 2px;
}

#about p {
  margin-top: 25px;
  color: whitesmoke;
  letter-spacing: 2px;
  font-family: sans-serif;
}

#about img {
  width: 360px;
  margin-bottom: 10px;
}
/* Akhir About */

/* Projects */

#projects {
  font-family: "Poetsen One", sans-serif;
  color: whitesmoke;
  margin-top: 50px;
}

#projects h2 {
  font-size: 33px;
  color: whitesmoke;
  text-shadow: 3px 2px 1px #4f91c0;
}

.card {
  box-shadow: 4px 4px 5px #4f91c0;
  background-color: rgb(35, 35, 35);
}
.card-body h5 {
  color: whitesmoke;
}
.card-body P {
  color: whitesmoke;
  font-family: sans-serif;
}
/* akhir projects */

.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure particles are behind content */
}

@media (max-width: 275.98px) {
  .navbar {
    background-color: rgb(15, 15, 24) !important;
    opacity: 1%;
  }
}

@media (max-width: 767.98px) {
  #about {
    margin-top: 20%;
  }

  .navbar {
    background-color: rgb(24, 24, 24) !important;
    opacity: 1%;
  }
}

@media (max-width: 991.98px) {
  #about {
    margin-top: 20%;
  }

  .navbar {
    background-color: rgb(24, 24, 24) !important;
    opacity: 1%;
  }
}
