@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body {
  background-color: rgb(25, 25, 25);
}

/* Navbar */
.navbar {
  font-family: "Poetsen One", sans-serif;
}

.navbar-brand {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: 1000;
  font-style: normal;
}

/* Akhir Navbar */

/* Jumbotron */
.jumbotron {
  font-family: "Poetsen One", sans-serif;
  margin-top: 50px;
  background-color: rgb(25, 25, 25);
  height: 500px;
  color: whitesmoke;
}

.jumbotron h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
}
.jumbotron p {
  margin-top: 20px;
  letter-spacing: 2px;
  letter-spacing: 10px;
}
/* Akhir Jumbotron */

/* About */
#about {
  font-family: "Poetsen One", sans-serif;
}

#about h4 {
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 5px;
}

#about p {
  color: whitesmoke;
  letter-spacing: 2px;
  margin-top: 20px;
}

#about img {
  width: 450px;
  margin-bottom: 10px;
}
/* Akhir About */
